.playerform li {
	margin: 10px 0;
}
.playerform legend {
	font-weight: bold;
	padding-bottom: 10px;
	display: block;
}
.playerform label {
	display: block;
	vertical-align: top;
	padding-bottom: 5px;
}

.playerform .options label {
	width: 576px;
	float: right;
}
.playerform .options input  {
	width: auto;
	float: left;
	margin: 2px 0 0 5px;
}
.playerform .options li:after {
	/* NB: This is the same as our 'clearfix' class
	 *     in /public/styles/base.css */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.playerform .fieldhelp {
	font-size: 12px;
	padding-top: 2px;
	color: #9B9B9B;
	display: block;
}

span.licence {
	font-size: 85%;
}
